cloudpickle==2.2.1
crcmod==1.7
dill==0.3.1.1
emoji==2.12.1
exceptiongroup==1.2.0
fastavro==1.9.4
google-apitools==0.5.31
google-auth-httplib2==0.2.0
google-cloud==0.34.0
google-cloud-aiplatform==1.57.0
google-cloud-bigquery-storage==2.25.0
google-cloud-bigtable==2.24.0
google-cloud-datastore==2.19.0
google-cloud-dlp==3.18.0
google-cloud-language==2.13.3
google-cloud-pubsublite==1.10.0
google-cloud-recommendations-ai==0.10.10
google-cloud-spanner==3.47.0
google-cloud-videointelligence==2.13.3
google-cloud-vision==3.7.2
hdfs==2.7.3
importlib-metadata==8.0.0
ipykernel==6.29.5
js2py==0.74
jsonpickle==3.2.2
matplotlib==3.9.0
memory-profiler==0.61.0
nbconvert==7.16.4
objsize==0.7.0
orjson==3.10.6
pandas==2.2.2
pip-chill==1.0.3
polars==1.0.0
pre-commit==3.7.1
py-spy==0.3.14
pyarrow==16.1.0
pyarrow-hotfix==0.6
pydot==1.4.2
pymongo==4.8.0
redis==5.0.7
regex==2024.5.15
ruff==0.5.0
yarg==0.1.9
zstandard==0.22.0
